/******************************/
/*      01. Footer Design     */
/******************************/

.footer-clean {
    padding:50px 0;
    background-color:rgb(233, 233, 233);
    color:#707070;
  }
  
h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color: inherit;
    text-align: center;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .footer-clean li {
    text-align: center;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
    background-color: transparent;
  }

/*****************************/
/*    02. Scrollbar Design   */
/*****************************/

::-webkit-scrollbar {
    width: 10px;
    background-color: #4641BA;
}

::-webkit-scrollbar-thumb {
    background-color: #4949b9;
}

::-webkit-scrollbar-track {
    background-color: #2f2f70;
}

/******************************/
/*      03. Header Design     */
/******************************/

.ex-header {
	padding-top: 8rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom right, #2c1a7e, #5557db);
	text-align: center;
}

.ex-basic-2 {
	padding-top: 4.75rem;
	padding-bottom: 4rem;
	background-color: #0E1018;
}

h1{
  color: #FFFF;
}

/******************************/
/*       04. Body Design      */
/******************************/

body{
  background-color: #0E1018;
}