.product-item .down-content {
	padding: 15px;
	position: relative;
}

.product-item {
	padding: 15px 0;
	margin-bottom: 10px;
	width: 100%;
	height: 400px;
	margin-left:auto;
	margin-right: auto;
	display: block;
	text-align: center;
	border-radius: 14px;
    color: white;
    margin-top: 50px;
}

.product-item .down-content h4 {
	margin-top: 40px;
	font-size: 25px;
	color: #FFFF;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

a:link{
	text-decoration:none; 
}

.des{
	margin-left: auto;
	margin-right: auto;
}