#Head{
    height: 650px;
    background-image: url(lostcraft/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#Head h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#Head h1:hover{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(170, 170, 170);
}

body{
    background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #1d1d1d;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}