#Head{
    height: 650px;
    background-image: url(lostcraft/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#Head h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#Head h1:hover{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(170, 170, 170);
}

body{
    background-color: rgb(20, 20, 20);
}

.info{
    background-color: black;
}

.info h3{
    color: white;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.info p{
    color: white;
    text-align: center;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.info img{
    padding-top: 20px;
    text-align:center;
    margin:auto;
    display:block;
    padding-bottom: 70px;
}


.info2{
    background-color: white;
}

.info2 h3{
    color: black;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.info2 p{
    color: black;
    text-align: center;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.info2 img{
    padding-top: 20px;
    text-align:center;
    margin:auto;
    display:block;
    padding-bottom: 70px;
}

.discover{
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #444444;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 150px;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 13px;
}

.discover:hover{
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #dadada;
    background-color: #dadada;
    border-radius: 6px;
    border: 1px solid #dadada;
    display: inline-block;
    cursor: pointer;
    color: #444444;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 150px;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 13px;
}

.discover-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}